body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  height: 100%;
  /* overflow: overlay; */
  /* scrollbar-gutter: auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0px;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

img {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  border-radius: 5px;
}

figure {
  width: 100%;
  margin: 15px auto;
}

figcaption {
  font-size: small;
  text-align: center;
  color: gray;
}

a {
  color: #8ab4f8;
}

.background {
  background-color: #161616;
  color: #ffffff;
  margin: 0px;
  padding: 0px 20px 0px 20px;
  height: 100vh;
}

.FeedList {
  border-radius: 10px;
  padding: 7px 20px 7px 20px;
  margin: 2px auto 2px auto;
  background-color: #161616;
  color: #ffffff;
  text-align: left;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  height: 35px;
  overflow: hidden;
}

.FeedListSelected {
  background-color: #252525;
}

.FeedList:active {
  background-color: #252525;
}

.articleList {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 2px auto 2px auto;
  background-color: #161616;
  color: #ffffff;
  text-align: left;
  border: 0px;
  /* border: 2px solid #000000; */
  border-radius: 5px;
}

.articleListSelected {
  background-color: #252525;
}

.articleList:active {
  background-color: #252525;
}

.articleListRead {
  color: gray;
}

.article {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 12px auto 2px auto;
  color: #ffffff;
  max-width: 1000px;
}

.columnNav {
  height: inherit;
  width: 16%;
  float: left;
  overflow: hidden;
  scrollbar-gutter: stable;
}

.columnNav:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

.columnArticleList {
  height: inherit;
  width: 40%;
  float: left;
  overflow: hidden;
  scrollbar-gutter: stable;
}

.columnArticleList:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

.columnArticle {
  height: inherit;
  width: 40%;
  float: left;
  overflow: hidden;
  scrollbar-gutter: stable;
}

.columnArticle:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

.columnSpace {
  height: 100vh;
  width: 2%;
  float: left;
  overflow: hidden;
  scrollbar-gutter: stable;
}

.columnSpace:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

.listTitle {
  font-weight: bolder;
  margin: 3px 0px;
}

.listSnippet {
  margin: 3px 0px;
  font-size: small;
  color: gray;
}

.articleHeading {
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 2px auto 2px auto;
  background-color: #161616;
  color: #ffffff;
  text-align: left;
  border: 0px;
  /* border: 2px solid #000000; */
  border-radius: 5px;
}

.articleHeading:hover {
  background-color: #252525;
}

.articleBody {
  padding: 0px 10px;
  margin: 12px auto 2px auto;
}

.listLink {
  font-size: small;
}

/* body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

/* ::-webkit-scrollbar {
  width: 20px;
} */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
