:root {
  --background: #161616;
  --backgroundLeft: #1d1d1d;
  --textColour: #ffffff;
  --secondaryTextColour: gray;
  --selectedHighlight: #252525;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-page {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Full Page Grid View */

.full-page-grid {
  height: 100vh;
  display: grid;
  grid-template: 40px auto 40px / 17% 37% auto;
  column-gap: 10px;
  row-gap: 0px;
  background-color: var(--background);
  color: var(--textColour);
}

.grid-header-left {
  background-color: var(--backgroundLeft);
}

.grid-header-middle {
  /* background-color: red; */
  /* height: 110px; */
  line-height: 40px;
}

.grid-header-right {
  /* background-color: yellow; */
}

.grid-content-left {
  /* background-color: green; */
  overflow: hidden;
  scrollbar-gutter: stable;
  background-color: var(--backgroundLeft);
}

.grid-content-middle {
  /* background-color: hotpink; */
  overflow: hidden;
  scrollbar-gutter: stable;
}

.grid-content-middle:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-content-right {
  /* background-color: orange; */
  overflow: hidden;
  scrollbar-gutter: stable;
}

.grid-content-right:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

.grid-footer-left {
  background-color: var(--backgroundLeft);
}

.grid-footer-middle {
  /* background-color: yellow; */
}

/* Article List Flex View */

.flex-article {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.flex-article-text {
  flex-basis: 73%;
  height: fit-content;
}

.flex-article-image {
  flex-basis: 25%;
  max-width: inherit;
}

/* General CSS */

.buttons {
  color: var(--textColour);
}

h1 {
  margin: 0px;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

h4 {
  line-height: inherit;
}

img {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

figure {
  width: 100%;
  margin: 15px auto;
}

figcaption {
  font-size: small;
  text-align: center;
  color: var(--secondaryTextColour);
}

a {
  color: #8ab4f8;
}

.FeedList {
  border-radius: 10px;
  padding: 5px 10px 5px 15px;
  margin: 1px 5px;
  background-color: var(--backgroundLeft);
  color: var(--textColour);
  text-align: left;
  border: 0px;
  border-radius: 5px;
  width: 97%;
  font-weight: bold;
  font-size: 12px;
  overflow: hidden;
}

.FeedListSelected {
  background-color: var(--selectedHighlight);
}

.FeedList:active {
  background-color: var(--selectedHighlight);
}

.articleList {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 2px auto 2px auto;
  background-color: var(--background);
  color: var(--textColour);
  text-align: left;
  border: 0px;
  border-radius: 5px;
  width: 100%;
}

.articleListSelected {
  background-color: var(--selectedHighlight);
}

.articleList:active {
  background-color: var(--selectedHighlight);
}

.articleListRead {
  color: var(--secondaryTextColour);
}

.article {
  border-radius: 10px;
  padding: 0px 20px 10px 20px;
  margin: 0px auto;
  color: var(--textColour);
  max-width: 1000px;
}

.articleListFeedTitle {
  font-variant: small-caps;
  font-size: small;
  font-weight: bold;
  color: var(--secondaryTextColour);
}

.articleListDate {
  font-variant: small-caps;
  font-size: smaller;
  color: var(--secondaryTextColour);
  padding: 0px;
  margin: 0px;
  float: right;
}

.articleListTitle {
  font-weight: bolder;
  margin: 3px 0px;
}

.articleListSnippet {
  margin: 3px 0px;
  font-size: small;
  color: var(--secondaryTextColour);
}

.articleHeading {
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 0px auto;
  background-color: var(--background);
  color: var(--textColour);
  text-align: left;
  border: 0px;
  border-radius: 5px;
}

.articleHeading:hover {
  background-color: var(--selectedHighlight);
}

.articleBody {
  padding: 0px 10px;
  margin: 12px auto 2px auto;
}

.listLink {
  font-size: small;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
